$loader-color-primary: $color-text-invert;
$loader-color-secondary: #000;

.button {
    border: 0;

    width: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    text-decoration: none;

    --loader-color: #{$loader-color-primary};
    
    // Default State
    &:hover {
        cursor: pointer;
    }

    &:active {
        transform: scale(0.95);
    }

    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    // Style
    &[data-variant="primary"] {
        background-color: $color-primary;
        color: $color-text-invert;

        --loader-color: #{$loader-color-primary};
    }

    &[data-variant="secondary"] {
        background-color: $color-surface-tertiary;
        color: $color-text-primary;

        --loader-color: #{$loader-color-secondary};
    }

    // Size
    &[data-size="lg"] {
        height: 48px;
        padding: 0 24px;
        font-size: 16px;
        border-radius: 16px;

        svg {
            width: 18px;
            height: 18px;
        }
    }

    &[data-size="md"] {
        height: 40px;
        padding: 0 20px;
        font-size: 14px;
        border-radius: 8px;

        svg {
            width: 16px;
            height: 16px;
        }
    }

    &[data-size="sm"] {
        height: 32px;
        padding: 0 16px;
        font-size: 12px;
        border-radius: 6px;

        svg {
            width: 14px;
            height: 14px;
        }
    }

    &.loading {
        cursor: not-allowed;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &.fullRadius {
        border-radius: 999px;
    }

    &.fullWidth {
        width: 100%;
    }
}

.loader {
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 3px solid  var(--loader-color);

    width: 16px;
    height: 16px;

    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}