.wrap {
    min-height: 200vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: calc(100% - 40px);
    min-height: 100vh;

    padding-top: 80vh;

    margin-top: 50vh;

    background-color: var(--color-primary);

    padding: 80vh 20px 30vh 20px;

    scale: 0;
}

.title {
    margin: 0;

    font-size: 105px;
    font-weight: 500;

    letter-spacing: -8px;

    color: var(--color-white);

    margin-bottom: 250px;
}

.subTitle {
    margin-top: 150px;

    font-size: 20px;
    font-weight: 500;

    color: var(--color-white);

    opacity: 0.7;
}

.text {
    margin-top: 50px;

    font-size: 50px;
    font-weight: 400;

    color: var(--color-white);
}

@media (max-width: 650px) {
    .text {
        font-size: 30px;
    }
}

@media (max-width: 540px) {
    .title {
        font-size: 80px;

        letter-spacing: -5px;
    }
}

@media (max-width: 440px) {
    .title {
        font-size: 60px;

        letter-spacing: -3px;
    }
}

@media (max-width: 350px) {
    .title {
        font-size: 50px;

        letter-spacing: -2px;
    }
}