.hero {
    display: flex;
    position: relative;
    width: 100%;
    height: calc(90vh - 64px);

    flex-direction: column;
    align-items: center;

    background-color: $surface;
    background-image: url('/images/home/background_dot.png');
    background-size: 17px;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    z-index: 2;
}

.title {
    font-size: $font-size-4xl;
    font-weight: 500;

    color: $color-white;
}

.description {
    font-size: $font-size-md;

    color: $text-subtle;

    line-height: 1.5;
}

.shadow {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 600px;

    transform: translate(-50%, -50%);

    background-image: url('/images/home/black_shadow.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    pointer-events: none;

    z-index: 1;
}

.heroFlow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 0;
}

@media (max-width: 768px) {
    .shadow {
        width: 400px;
        height: 400px;
    }
}