.hero {
    height: calc(100vh - 64px);
    width: 100%;

    background-color: $surface;

    background-image: url('/images/home/background_dot.png');
    background-size: 17px ;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    font-size: $font-size-4xl;
    font-weight: 500;

    color: $color-white;
}

.description {
    font-size: $font-size-md;

    color: $text-subtle;

    line-height: 1.5;
}