.iconWrapper {
    position: relative;
    z-index: 100;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:hover {
        .tooltip {
            opacity: 1;
            visibility: visible;
        }
    }
}

.tooltip {
    position: fixed; // absolute에서 fixed로 변경
    z-index: 1000;
    transform: translate(-50%, 8px); // 위치 조정
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
    white-space: nowrap;
}
