.button {
    background-color: var(--color-black);
    color: var(--color-white);
    
    width: fit-content;

    border: 0;
    border-radius: 12px;

    padding: 12px 20px;

    font-size: 14px;
    font-weight: 500;

    display: flex;
    align-items: center;
    gap: 15px;

    &:hover {
        cursor: pointer;

        border: 2px solid var(--color-white);
        outline: 2px solid var(--color-black);

        margin-top: -2px;
    }

    &:active {
        opacity: 0.6;
    }
}