.resizable {
  position: relative;

  overflow: hidden;
}

.handle {
  position: absolute;

  background-color: transparent;

  transition: background-color 0.15s ease;

  &:hover { background-color: $surface-brand; }
}

.horizontal {
  top: 0;
  right: 0;
  bottom: 0;

  width: 4px;

  cursor: col-resize;
}

.vertical {
  left: 0;
  right: 0;
  bottom: 0;

  height: 4px;

  cursor: row-resize;
}

.both {
  right: 0;
  bottom: 0;

  width: 12px;
  height: 12px;

  cursor: nwse-resize;
}
