.container {
	width: 100%;

	background-color: var(--color-backgroud);

	padding: 600px 30px;

	display: flex;
	flex-direction: column;
}

.title {
	width: 100%;
}

.projectList {
	margin: 80px 0 0 0;

	border-top: 1px solid var(--color-primary);
}

.project {
	height: 130px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	border-bottom: 1px solid var(--color-primary);

	font-size: 30px;
}

.projectYear {
	font-size: 18px;
	font-weight: 500;

	opacity: .5;
}

.projectImage {
	height: 110px;

	margin: 0 20px 0 0;
}
