// Color variables
$color-white: #fff;
$color-text: #1C1A31;
$color-blue: #1a6cff;
$color-blue-transparent: #1a6cff1a;
$color-text-secondary: #8E8C98;
$black-10: hsla(0, 0%, 0%, 0.10);
$black-02: hsla(0, 0%, 0%, 0.02);

$width-max: 1400px