.title {
    font-size: 18px;
    font-weight: 500;

    color: $color-text-primary;

    font-family: $font-ridi;
}

.indicate {
    span {
        font-family: $font-ridi;
        font-size: 14px;

        color: $color-text-tertiary;
    }

    a {
        color: $color-text-secondary;

        text-decoration-color: $color-text-tertiary;

        font-family: $font-ridi;
        font-size: 14px;

        &:hover {
            text-decoration: underline;
        }
    }
}