.container {
    margin: 0 auto;
    padding: 0px 20px;
}

.title {
    margin: 0;

    font-size: 147px;
    line-height: 125px;
    font-weight: 500;

    letter-spacing: -8px;

    color: var(--color-primary);
}

.right {
    max-width: 800px;
    display: flex;
    flex-direction: row;

    margin-top: 120px;
    padding-bottom: 30px;

    font-size: 18px;
    font-weight: 500;

    color: var(--color-primary);

    border-bottom: 1px solid var(--color-primary);
}

@media (max-width: 790px) {
    .container {
        margin-top: 50px;
    }
    .title {
        font-size: 100px;
        line-height: 85px;
        letter-spacing: -7px;
    }
}

@media (max-width: 520px) {
    .title {
        font-size: 80px;
        line-height: 85px;
        letter-spacing: -4px;
    }
}

@media (max-width: 430px) {
    .title {
        font-size: 60px;
        line-height: 60px;
        letter-spacing: -4px;
    }
}