.hero {
    width: 100%;
    max-width: var(--width-max);

    margin: 0 auto;
    padding: calc(var(--height-header) + 70px) 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.title {
    font-family: var(--font-primary);
    font-size: 80px;
    line-height: 90px;
    text-align: center;

    margin: 0;

    color: var(--color-white);

    // background: linear-gradient(180deg, #ffffff, #ffffffba);
    // -webkit-background-clip: text;
    // color: transparent;
    // background-clip: text;
}

.subtitle {
    font-family: var(--font-primary);

    font-size: 20px;
    font-weight: 500;
    line-height: 30px;

    margin: 0;

    color: var(--color-text-light);

    text-align: center;
}

.subtitle {
    color: var(--color-text-light);
}