.hero {
    width: 100%;
    max-width: var(--width-max);

    margin: 0 auto;
    padding: calc(var(--height-header) + 100px) 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-family: var(--font-primary);
    font-size: 72px;
    text-align: center;

    margin: 0;

    color: var(--color-white);
}

.subtitle {
    font-family: var(--font-primary);

    font-size: 20px;
    font-weight: 500;

    margin: 0;

    color: var(--color-text);

    text-align: center;
}

.subtitle {
    color: var(--color-text-light);
}