.navbar {
  width: 100%;

  border-bottom: 1px solid $border;

  background-color: $surface;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 100;
}

.inner {
  display: flex;
  align-items: center;

  max-width: $max-width;
  height: 64px;

  margin: 0 auto;
  padding: 0 $padding;
}
