.list {
  display: flex;
  position: relative;
  flex-direction: column;

  width: 100%;

  border-bottom: 1px solid $border;
}

.card {
  display: flex;
  align-items: center;

  width: 100%;

  padding: $spacing-32 0;

  border-top: 1px solid $border;
  cursor: default;
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: $spacing-8;
}

.cardHeader {
  display: flex;
  flex-direction: column;
  gap: $spacing-4;
}

.cardTitle {
  font-weight: $font-weight-normal;
  line-height: $line-height-tight;
  font-size: $font-size-2xl;

  color: $text;
}

.cardOrganization {
  color: $text-subtle;
  font-size: $font-size-md;
}

.cardDescription {
  line-height: $line-height-relaxed;
  color: $text-muted;
}

@media (max-width: 768px) {
  .card {
    padding: $spacing-24 0;
  }

  .cardTitle {
    font-size: $font-size-xl;
  }

  .cardOrganization {
    font-size: $font-size-sm;
  }
}

@media (max-width: 480px) {
  .card {
    padding: $spacing-20 0;
  }

  .cardTitle {
    font-size: $font-size-lg;
  }

  .cardOrganization {
    font-size: $font-size-sm;
  }
}
