.container {
    width: 100%;
    height: 100vh;

    padding: 30px;
}

.wrap {
    width: 100%;
    height: 100%;

    border-radius: var(--radius-m);

    background-image: url('/background/macos.jpg');
}