.container {
    width: 100%;
    height: auto;
    max-width: 1200px;

    margin: 30px auto 0 auto;
    padding: 100px 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 30px;

    span {
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--color-gray-dark);

        text-align: center;

        line-height: 3.5rem;

        svg {
            margin: 0 10px -4px 0;
        }
    }
}