.article {
    width: 100%;
    height: fit-content;

    padding: 10px 16px 0 16px;

    border-radius: 8px;

    background-color: var(--color-background);

    gap: 20px;

    text-decoration: none;

    &:hover {
        cursor: alias;
    }
}

.top {
    height: fit-content;

    display: flex;
    justify-content: space-between;
}

.name {
    color: var(--color-text);

    font-size: 14px;
}

.arrow {
    transform: rotate(45deg);

    width: 20px;
    height: 20px;

    color: var(--color-text-dark);
}

.image {
    height: auto;
    width: 100%;
    
    margin-top: 30px;
}