.header {
    width: 100%;
    
    padding: $spacing-small $spacing-medium;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid $border-default;

    .title {
        gap: $spacing-small;

        h1 {
            margin: 0;

            font-weight: 400;
        }
    }

    .weather {
        gap: $spacing-narrow;

        span, svg {
            color: $text-secondary;
        }
    }
}

.hyperlinkContainer {
    width: 100%;

    .hyperlink {
        width: 100%;

        padding: $spacing-moderate $spacing-medium;

        text-decoration: none;

        svg, span {
            color: $text-secondary;
        }

        .left {
            gap: $spacing-moderate;
        }

        &.active {
            background-color: $background-invert;

            svg, span {
                color: $text-inverted;
            }
        }
    }
}

.social {
    height: 50px;
    width: 100%;

    .email {
        min-width: 205px;

        border: 0;

        background-color: $background-accent;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: $spacing-moderate;

        color: $text-inverted;

        &:hover {
            cursor: pointer;
        }
    }

    .socialButton {
        width: 100%;

        text-decoration: none;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: $spacing-narrow;

        color: $text-secondary;

        &:hover {
            opacity: 0.5;
        }
    }

    .socialButton:first-child {
        background-color: red;
    }
}