@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

body, html {
    margin: 0;
    padding: 0;

    background-color: $color-surface;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, span, p {
    font-family: "Pretendard", sans-serif;
}