@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/static/split/WantedSans.min.css");

body, html {
    margin: 0;
    padding: 0;

    background-color: $color-surface;
}

* {
    box-sizing: border-box;
}

* {
    font-family: "Wanted Sans", sans-serif, "Apple SD Gothic Neo", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}