$max-width: 1600px;

// Colors
$black: #171717;
$white: #fff;

$secondary: #9e9e9e;
$secondary-light: #c8c8c8;

$text-color: #333;
$text-description-color: #666;

$background-secondary: #EEE;

// Padding
$padding: 0 50px;