// Background
$background-default: #FFFFFF;        // 기본 배경 - 화이트
$background-subtle: #f6f6f6;         // 미세한 강조
$background-disabled: #CCCCCC;       // 비활성
$background-accent: #000000;         // 주요 강조 배경 (예: 버튼)
$background-on-accent: #FFFFFF;      // 강조 배경 위 텍스트
$background-invert: #121212;         // 다크 모드 대응

// Text
$text-primary: #000000;              // 기본 텍스트
$text-secondary: #727272;            // 보조 텍스트
$text-disabled: #A0A0A0;             // 비활성 텍스트
$text-on-accent: #FFFFFF;            // 강조색 위 텍스트
$text-inverted: #FFFFFF;             // 어두운 배경에서의 텍스트

// Border
$border-default: #e6e6e6;