$background-default: #121212;
$background-surface: #1B1B1B;
$background-subtle: #272726;
$background-disabled: #4A4845;
$background-accent: #FF623B;
$background-on-accent: #FFF2ED;
$background-invert: #FFFFFF;

$text-primary: #ECEAE6;
$text-secondary: #827E78;
$text-disabled: #4A4845;
$text-on-accent: #FF623B;
$text-inverted: #121212;

$border-default: #272726;

$status-error-default: #F03839;
$status-error-surface: #CE3536;

$status-good-default: #4BF765;