$spacing-none: 0px;
$spacing-tiny: 4px;
$spacing-narrow: 6px;
$spacing-small: 8px;
$spacing-moderate: 12px;
$spacing-medium: 16px;
$spacing-large: 24px;
$spacing-big: 32px;
$spacing-huge: 40px;
$spacing-massive: 48px;
$spacing-colossal: 64px;