.container {
	width: 100%;

	display: flex;
	flex-direction: column;

	background-color: var(--color-backgroud);

	padding: 400px 30px;
}

.aboutTitle {
	font-size: 24px;
	font-weight: 500;

	opacity: .25;
}

.aboutContent {
	font-size: 42px;
	font-weight: 500;
	line-height: 1.4;

	margin: 20px 0;

	white-space: pre-line;

	div {
		overflow-y: hidden;
	}
}
