.container {
	width: 100%;

	display: flex;
	flex-direction: column;
	gap: 30px;

	background-color: var(--color-backgroud);

	padding: 400px 30px;
}

.aboutTitle {
	font-size: 24px;
	font-weight: 500;

	opacity: .25;
}

.aboutContent {
	font-size: 42px;
	font-weight: 500;
	line-height: 1.4;

	margin: 20px 0;

	white-space: pre-line;

	div {
		overflow-y: hidden;
	}
}

.divider {
	width: 100%;
	height: 10px;

	border: 0;

	background-color: var(--color-black);
	opacity: .05;

	border-radius: 100px;

	margin: 20px 0;
}

.iamContainer {
	display: flex;
	justify-content: space-between;

	margin-top: 30px;
}


.iamTitle {
	font-size: 22px;
	font-weight: 500;

	margin: 20px 0;

	opacity: .7;

	&::before {
		content: "●";
    	margin-right: 10px;
	}
}
