.markdown_article {
    h2 {
        font-size: 26px;
        font-weight: 600;

        margin-block: $spacing-24;
    }

    h3 {
        font-size: 20px;
        font-weight: 600;

        margin-block: $spacing-16;
    }

    strong {
        font-weight: 600;
    }

    p {
        color: $text;

        font-size: 18px;

        font-weight: 300;
        line-height: 32px;

        margin: 0 0 14px 0;
    }

    // `text` 문법
    :not(.code-block) > code {
        background-color: $surface-subtle;

        padding: 2px 4px;

        border: 1px solid $border;
        border-radius: 4px;

        font-size: 14px;

        margin-right: 3px;
    }

    // 이탤릭 체
    em {
        margin-right: 3px;
    }

    ul {
        margin: 0 0 14px 10px;
        padding: 0;

        text-decoration: none;

        li {
            line-height: 30px;

            font-size: 18px;
            font-weight: 300;

            list-style-type: none;

            &::before {
                content: "–";

                color: $text-subtle;

                margin-right: 7px;
            }
        }
    }

    ol {
        margin: 0 0 14px 32px;
        padding: 0;

        li {
            line-height: 38px;

            font-size: 18px;
            font-weight: 300;


        }
    }

    a:not([data-type="heading"]) {
        color: $text-brand;

        text-decoration: underline;
        text-underline-offset: 4px;

        transition: color 0.2s ease-in-out;
        

        &:hover {
            color: $text-subtle;
        }
    }

    blockquote {
        margin: 0 0 14px 0;
        padding: 3px 15px;

        border-left: 4px solid $border;

        p {
            margin: 0;

            font-size: 15px;
        }
    }

    hr {
        border: 0;
        border-top: 1px solid $border;

        margin: 50px 0;
    }

    pre {
        margin: 0 0 14px 0;
    }

    table {
        width: fit-content;
        border-collapse: collapse;

        table, th, td {
            border: 1px solid $border;
        }

        td {
            min-width: 60px;
            padding: 10px 15px;

            font-weight: 400;
        }

        th {
            padding: 10px 15px;
        }

        tr:nth-child(2n) {
            background-color: $surface-subtle;
        }
    }
}

.imageComponent {
    width: 100%;
    height: auto;

    border-radius: 10px;

    border: 1px solid $border;

    margin: 0 0 14px 0;
}