// Padding
$padding: 24px;

// Max Width
$max-width: 1200px;

// Spacing Scale
$spacing-4: 4px;
$spacing-6: 6px;
$spacing-8: 8px;
$spacing-10: 10px;
$spacing-12: 12px;
$spacing-14: 14px;
$spacing-16: 16px;
$spacing-20: 20px;
$spacing-24: 24px;
$spacing-32: 32px;
$spacing-40: 40px;
$spacing-48: 48px;
$spacing-64: 64px;
$spacing-100: 100px;

// Radius Scale
$radius-4: 4px;
$radius-8: 8px;
$radius-10: 10px;
$radius-12: 12px;
$radius-14: 14px;
$radius-16: 16px;
$radius-20: 20px;
$radius-24: 24px;
$radius-32: 32px;
$radius-64: 64px;
$radius-full: 9999px;

// Color Palette
$color-white: #FFFFFF;
$color-black: #000000;

// Text Colors
$text: #000000;
$text-subtle: #919191;
$text-inverse: #FFFFFF;

// Brand Text Colors
$text-brand: #dbff11;
$text-brand-heavy: #aade00;
$text-brand-subtle: #EAF8FF;

// Surface Colors
$surface: #FFFFFF;
$surface-subtle: #FAFAFA;
$surface-inverse: #242424;
$surface-inverse-subtle: #424242;
$surface-white: #FFFFFF;

// Brand Surface Colors
$surface-brand: #dbff11;
$surface-brand-heavy: #aade00;
$surface-brand-subtle: #EAF8FF;

// Border Colors
$border: #eaeaea;
$border-inverse: #393939;
$border-subtle: #EFEFEF;

// Shadow Scale
$shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.07);

$font-gambarino: "gambarino", sans-serif;