.component {
  width: 100%;
  min-width: 0;
}

.toolbar {
  flex-wrap: wrap !important;
  gap: $spacing-12;
}

.errorMessage {
  padding: $spacing-10 $spacing-12;

  color: $text-danger-subtle;
  background-color: $surface-danger-subtle;
  border-radius: $radius-8;
}

@media (max-width: 700px) {
  .toolbar {
    align-items: flex-start !important;
    flex-direction: column;
  }

  .toolbar > button {
    width: 100%;
  }
}
