.sidebar {
    min-width: 500px;
    width: 500px;
    height: 100vh;

    border-right: 1px solid var(--border-default);
}

.content {
    justify-content: flex-end;

    padding: var(--spacing-large);
}