.title {
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;

    color: $color-text-primary;
}

.description {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;

    margin-bottom: 20px;

    color: $color-text-tertiary;
}