.wrapper {
    overflow-x: hidden;

    padding: 20px;
}

.container {
    flex-direction: column;
}

.image {
    width: auto;
    height: 500px;

    border: 1px solid $color-border;

    border-radius: 16px;
}