.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 25px;
}

.availableWork {
    animation: gradient 8s linear infinite;
    padding: 5px 15px;

    border-radius: var(--radius-max);

    background: linear-gradient(0deg, rgba(0, 184, 147, 0.067) 0%, rgba(0,184,148,0.2) 100%);

    display: flex;
    align-items: center;
    gap: 5px;

    .circle {
        display: inline-block;

        width: 8px;
        height: 8px;

        margin-right: 5px;

        border-radius: 50%;

        background-color: var(--color-green);
    }

    span {
        font-size: 0.8rem;
        font-weight: 500;

        color: var(--color-green);
    }
}

.title {
    font-size: 4rem;
    font-weight: 700;
    line-height: 5rem;

    margin: 0;

    text-align: center;

    color: var(--color-text);
}

.buttonContainer {
    display: flex;
    gap: 20px;
}

.button {
    padding: 15px 40px;

    background-color: var(--color-black);
    color: var(--color-white);

    border-radius: var(--radius-max);
    border: 1.5px solid var(--color-gray-light);

    display: flex;
    align-items: center;
    gap: 20px;

    span {
        font-size: 1rem;
        font-weight: 400;
    }
}

.description {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5rem;

    color: var(--color-gray);
    text-align: center;
}

.emoji {
    font-size: 1.5rem;
}