.homeLayout {
    gap: 40px;

    width: min($max-width, 100%);

    padding: 30px 20px 0 20px;

    margin: 0 auto;
}

.blogLayout {
    gap: 40px;

    width: min($max-width-blog, 100%);

    padding: 40px 20px 0 20px;

    margin: 0 auto;
}