.section {
  width: 100%;
}

.sm { padding-top: $spacing-32; padding-bottom: $spacing-32; }
.md { padding-top: $spacing-64; padding-bottom: $spacing-64; }
.lg { padding-top: $spacing-100; padding-bottom: $spacing-100; }
