.right {
  min-width: 320px;
}

.category_filter {
  margin-top: 2rem;
}

.category_filter_title {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.no_result_description {
  color: $text-muted;
}

.active_tag {
  background-color: $surface-brand;
  color: $text-inverse;
}
