.container {
    width: 200px;

    position: sticky;
    top: 3rem;
    left: calc(50% + 320px);

    max-height: calc(100vh - 4rem);

    overflow-y: auto;
}

@media (max-width: 1000px) {
    .container {
        display: none;
    }
}

.title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.inner {
  display: flex;
  flex-direction: column;
}

.list {
	list-style: none;
	padding: 0;
}

.item {
	padding: 0.25rem 0;

	cursor: pointer;

	color: $color-text-tertiary;

    font-size: 14px;
    line-height: 1.4;

    transition: color 0.2s;

	@for $i from 1 through 3 {
		&[data-level='#{$i}'] {
			padding-left: #{($i - 1)}rem;
			font-size: #{1.1 - ($i - 1) * 0.1}rem;
		}
	}

    &[data-depth="2"] {
        padding-left: 1rem;
        font-size: 0.85rem;
    }

	&:hover {
		color: $color-text-primary;
	}

	&.active {
		color: $color-text-primary;
		font-weight: bold;
	}

    a {
        text-decoration: none;
        color: inherit;

        &:hover {
            text-decoration: underline;
        }
    }
}
