.recentBlogPost {
    @include flex(column, null, null, 10);

    width: 340px;

    text-decoration: none;

    &:hover {
        cursor: pointer;
    }

    &:active {
        opacity: 0.7;
    }

    .name {
        @include flex(row, space-between, center);

        span {
            font-size: 1.2rem;
            font-weight: 600;

            color: $black;
        }
        svg {
            @include icon(25px, $black);

            transform: rotate(45deg);
        }
    }

    .content {
        color: $text-description-color;

        @include textOverflow($clamp: 3)
    }

    .category {
        @include flex(row, null, center, 6);

        color: $secondary;

        span {
            font-size: 0.9rem;
            font-weight: 600;
        }

        svg {
            @include icon(14px);
        }
    }
}