.linkCard {
    display: flex;

    border: 1px solid var(--border-default);
    border-radius: var(--radius-large);

    padding: var(--spacing-medium);

    box-shadow: var(--shadow-default);

    &:hover {
        background-color: var(--background-subtle);
    }

    .date {
        color: var(--text-secondary);
    }

    .category {
        color: var(--text-secondary);

        align-items: center;
        gap: var(--spacing-small);

        margin-bottom: var(--spacing-narrow);
    }
}