.container {
  min-height: 100vh;
  padding: $spacing-24;

  background-color: $surface-inverse;
}

.authenticated {
  padding: 0;
}

.loginSection {
  justify-content: center;
  align-items: center;

  min-height: calc(100vh - #{$spacing-48});
  max-width: 520px;
  margin: 0 auto;
}

@media (max-width: 700px) {
  .container {
    padding: $spacing-16;
  }

  .loginSection {
    min-height: calc(100vh - #{$spacing-32});
  }
}
