.container {
  width: 100%;

  display: flex;
  align-items: start;
  justify-content: space-between;

  padding: $spacing-16 $spacing-24;

  position: fixed;
  top: 0;

  z-index: 999;

  pointer-events: none;
  user-select: none;
}

.gradient {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: $spacing-100;

  background: linear-gradient(to bottom, $surface, $surface-transparent);

  z-index: $z-fixed;

  pointer-events: none;
}

.menuIsOpen {
  .menuButton {
    color: $text;
  }
}

.logo {
  height: 16px;

  filter: invert(1);

  pointer-events: auto;
  -webkit-user-drag: none;
  user-select: none;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $spacing-24;

  padding: 0;
  margin: 0;

  flex-shrink: 0;

  pointer-events: auto;

  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .active {
    .navLabel {
      font-weight: $font-weight-semibold;

      color: $text;
    }
  }
}

.navItem {
  // 자석 인터랙션이 자연스럽게 끌려나갈 여백
  margin: -$spacing-8 (-$spacing-4);
  padding: $spacing-8 $spacing-4;
}

.navLabel {
  display: block;

  color: $text-subtle;

  font-size: $font-size-lg;
  font-weight: $font-weight-medium;
  text-decoration: none;

  transition: color $transition-fast;

  will-change: transform;

  &:hover {
    color: $text;
  }
}

.menuButton {
  display: none;

  align-items: center;
  justify-content: center;

  padding: $spacing-4;

  background: none;
  border: none;

  cursor: pointer;

  color: $text;

  pointer-events: auto;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.overlay {
  position: fixed;
  inset: 0;

  display: flex;
  flex-direction: column;
  padding: $spacing-100 $spacing-48 $spacing-64;

  background-color: $surface;

  z-index: 998;
}

.overlayNav {
  display: flex;
  flex-direction: column;
  gap: $spacing-32;

  padding: 0;
  margin: 0;
}

.overlayNavItem {
  list-style: none;
  margin: 0;
  padding: 0;

  a,
  span {
    display: block;

    font-size: $font-size-4xl;
    font-weight: 500;

    color: $text-muted;

    text-decoration: none;

    transition: color $transition-fast;

    &:hover {
      color: $text;
    }
  }
}

.overlayNavActive {
  a,
  span {
    color: $text;
  }
}

@media (max-width: 768px) {
  .container {
    align-items: center;

    padding: $spacing-16 $padding-mobile;

    background-color: $surface-transparent;
    border-bottom: none;
  }

  .overlay {
    padding: $spacing-100 $padding-mobile $spacing-64;
  }

  .navigation {
    display: none;
  }

  .menuButton {
    display: flex;
  }
}
