.container {
    width: 100%;
    height: 64px;

    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;

    background-color: $surface;

    padding: 0 $padding;
}

.logo {
    height: 20px;
}


.link {
    display: flex;
    position: absolute;
    flex-direction: row;
    gap: $spacing-20;

    left: 50%;
    transform: translateX(-50%);

    padding: 0;

    flex-shrink: 0;

    li {
        list-style: none;
        margin: 0;
        padding: 0;

        a, span {
            text-decoration: none;

            font-weight: 500;

            color: $text-muted;
        }
    }

    .active {
        a, span {
            color: $text;
        }
    }
}

.social {
    padding: $spacing-6 $spacing-8;

    gap: 0;

    width: fit-content;

    a {
        display: flex;
        align-items: center;
        justify-content: center;

        opacity: 0.5;

        padding: $spacing-12;

        &:hover {
            opacity: 1;
        }

        img {
            width: 24px;

            margin: 0;
        }
    }
}