.container {
    display: flex;
    gap: $spacing-12;
    position: fixed;

    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100000;
}

.header {
    width: 416px;
    height: 60px;

    border-radius: $radius-14;
    
    background-color: $surface-inverse;

    display: flex;
    align-items: center;
    gap: $spacing-20;

    padding: $spacing-6 $spacing-6;

    box-shadow: 0px 3px 20px 2px rgba(0, 0, 0, 0.1);

    img {
        width: 30px;

        margin-left: $spacing-12;
    }
}

.link {
    display: flex;
    flex-direction: row;
    gap: $spacing-6;

    padding: 0;

    height: 100%;

    li {
        list-style: none;
        margin: 0;
        padding: 0;

        height: 100%;

        padding: 0 $spacing-12;

        display: flex;
        align-items: center;
        justify-content: center;

        border: 1.5px solid $border-inverse;
        border-radius: $radius-10;

        &:hover {
            cursor: pointer;

            background-color: $surface-inverse-subtle;

            border-color: transparent;
        }

        &.active {
            background-color: $surface-brand;

            a, span {
                color: $text;
            }
        }
    }

    a, span {
        text-decoration: none;

        font-weight: 500;

        color: $text-inverse;
    }
}

.social {
    padding: $spacing-6 $spacing-8;

    gap: 0;

    width: fit-content;

    a {
        display: flex;
        align-items: center;
        justify-content: center;

        opacity: 0.5;

        padding: $spacing-12;

        &:hover {
            opacity: 1;
        }

        img {
            width: 24px;

            margin: 0;
        }
    }
}