@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

body, html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

span, p, h1, h2, h3, h4, label {
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
}

main {
  width: 100%;
  min-height: 100vh;

  background-color: $background-default;
}