@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

body, html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

main {
  width: 100%;
  min-height: 100vh;

  background-color: $background-default;

  font-family: "Geist Mono", sans-serif;
  letter-spacing: .2px;
  font-weight: 400;
}