.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 25px;
}

.title {
    width: 100%;
    font-size: 6.9vw;

    margin: 0 auto;

    text-align: center;

    opacity: 0.1;
}

.heroSection {
    display: flex;
    justify-content: space-between;

    margin: 20px 0;
    gap: 50px;

    div {
        width: 50%
    }
}

.about {
    font-size: 19px;
    line-height: 25px;
    letter-spacing: -.5px;
    font-family: var(--font-wanted);

    color: var(--color-text);

    text-align: center;

    margin: 0;
    padding: 25px;
}

.grid {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 10px;
}