$max-width: 500px;

$color-primary: #000;

$color-text-primary: #333;
$color-text-secondary: #666;
$color-text-tertiary: #999;

$color-text-invert: #fff;

$color-border: #e8e8e8;

$color-surface: #fff;
$color-surface-secondary: #f9f9f9;
$color-surface-tertiary: #f2f2f2;

$color-success: #00C851;
$color-success-light: #66FF33;
$color-success-background: #E8F5E9;