.container {
    width: 100%;
    max-width: 1200px;

    margin: 0 auto;
    padding: 0 30px;
}

.iconContainer {
    width: 100%;

    margin: 0 auto;

    background-color: #fff;

    border: 1px solid var(--color-gray-lighter);
    border-radius: var(--radius-m);

    box-shadow: var(--shadow);
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 2rem;
    font-weight: 700;

    color: var(--color-text);
}

.tip {
    font-size: 1rem;
    font-weight: 400;

    color: var(--color-text-light);
}