.component {
  width: 100%;
}

.formGrid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.errorMessage {
  color: $text-danger-subtle;
}

@media (max-width: 900px) {
  .formGrid {
    grid-template-columns: minmax(0, 1fr);
  }
}
