.component {
  width: 100%;
}

.formGrid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.relatedPosts {
  max-height: 240px;
  padding: $spacing-12;

  background-color: $surface-subtlest;

  border: 1px solid $border;
  border-radius: $radius-8;

  overflow-y: auto;
}

.errorMessage {
  color: $text-danger-subtle;
}

@media (max-width: 900px) {
  .formGrid {
    grid-template-columns: minmax(0, 1fr);
  }
}