.container {
	width: 100%;
	height: 6000px;

	display: flex;
	flex-direction: column;

	background-color: var(--color-backgroud);
}

.wrap {
	width: 100%;
	height: calc(100vh - 160px);

	display: flex;
	flex-direction: row;
	gap: 30px;
}

.sectionList {
	width: 50%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 60px;
}

.sectionTitle {
	font-size: 42px;
	font-weight: 500;

	margin: 0;
}

.stackContainer {
	width: calc(50% - 60px);

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	gap: 80px;

	padding: 0 30px;
}

.stack {
	width: 100px;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;

	img {
		width: 60px;
		height: 60px;
	}

	span {
		font-size: 18px;
		font-weight: 500;

		opacity: 0.6;

		text-align: center;
	}
}

.progressBarContainer {
	width: 100%;
	max-width: 300px;
	height: 4px;

	background-color: rgba(0, 0, 0, 0.1);
}

.progressBar {
	height: 100%;
	width: 0;

	background-color: var(--color-primary);

	opacity: 0.5;
}
