.container {
    width: 100%;
    height: 76px;
}

.header {
    width: min(100%, $max-width);
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 20px;
}

.nav {
    background-color: $color-surface-secondary;

    list-style: none;
    padding: 0;

    display: flex;
    gap: 35px;

    a {
        color: $color-text-tertiary;

        font-size: 16px;
        font-weight: 500;

        text-decoration: none;

        &:hover {
            color: $color-text-primary;
        }

        &:active {
            color: $color-text-tertiary;
        }
    }
}

@keyframes hiringCircleAnimation {
    // outline
    0% {
        outline: 0px solid $color-success;
    }

    100% {
        outline: 7px solid $color-success-background;
    }
}

.hiringCircleAnimation {
    width: 8px;
    aspect-ratio: 1/1;

    border-radius: 9999px;

    background-color: $color-success;

    animation: hiringCircleAnimation 1.5s infinite;
}

.hiringText {
    font-size: 14px;
}