.base {
    width: min(100%, $max-width);

    margin: 0 auto;
    padding-bottom: $spacing-64;
    padding-inline: $padding;
    background-color: $surface;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $radius-64;
}